@model PermissionsUserVM
<tr id="perm-row-@Model.ListId">
    <td>
        @Html.DisplayFor(modelItem => Model.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.EmailAddress)
    </td>
    <td>
        <a id="editDelete-@Model.Id" class="btn btn-danger btn-sm">Delete</a>
    </td>
</tr>
