@model GroceryItemVM
<tr id="index-row-@Model.Id">
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.QuantityToBuy)
    </td>
    <td>
        <a asp-action="RemoveItem" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Remove</a>
    </td>
</tr>