@model GroceryItemVM
<tr id="edit-row-@Model.Id">
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.QuantityToBuy)
    </td>
    <td>
        <a tabindex="0" id="removeItem-@Model.Id"class="btn btn-danger btn-sm removeAjax" data-toggle="popover" title="Are you sure?" data-trigger="focus" data-content="" asp-action="RemoveItemAjax" asp-controller="GroceryList" asp-route-id="@Model.Id">Delete</a>
    </td>
</tr>