@model EditListVM
<div class="row">
    <div class="col-md-1">
        <h3>List:</h3>
    </div>
    <div class="col-md-6">
        <input readonly id="ListName-@Model.Id" value="@Model.ListName" class="form-control" />
    </div>
</div>
