@model JordanDeBordProject3.Models.ViewModels.GoShoppingListVM


<h1 id="shop-title-@Model.Id">@Model.Name</h1>

<table id="shop-table-@Model.Id"class="table table-borderless">
    <tbody id="permission-@Model.GroceryListUserId">
        @foreach (var item in Model.GroceryItems)
        {
            <partial name="_AddShoppingItem" model="@item" />
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>

@section Scripts{
    <script src="~/js/groceryListGoShopping.js" defer></script>
}