@model IEnumerable<JordanDeBordProject3.Models.ViewModels.PermissionsUserVM>

@{
    var listName = ViewData["ListName"];
    var listId = (int)ViewData["ListId"];
    var newPermission = new GrantPermissionsUserVM() { ListId = listId };
}

<h1>@listName</h1>

<div id="alertArea" class="alert alert-warning" role="alert" style="display:none">
    <span id="messageArea"></span>
    <button id="alertCloseBtn" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<table class="table" id="perm-table-@listId">
    <thead>
        <tr class="row">
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody class="perm-table-body-@listId">
        @foreach (var item in Model)
        {
            <partial name="_AddPermissionRow" model="@item" />
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#grantPermissionModal">
            Grant Permission
        </button>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back to Home</a>
    </div>

</div>
<partial name="_GrantPermissionModal" model="@newPermission" />

@section Scripts{
    <script src="~/js/groceryListPermissions.js" defer></script>
}